@model LopHoc

<div>
    <p>ID: <b>@Model.Id</b></p>
    <p>Tên Lớp Học: <b>@Model.TenLopHoc</b></p>
    <p>Năm Nhập Học: <b>@Model.NamNhapHoc</b></p>
    <p>Năm Ra Trường: <b>@Model.NamRaTruong</b></p>
    <p>Số Lượng Sinh Viên: <b>@Model.SoLuongSinhVien</b></p>
</div>

<a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
