@model IEnumerable<SanPham>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Hình ảnh</th>
                <th>Thể loại</th>
                <th>
                    Chức năng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td><img src="@item.ImageUrl" width="50%" /></td>
                    <td>@item.TheLoai.Name</td>
                    <td>
                        <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a>    |
                        <a asp-action="Details">Details</a> |
                        <a class="text-danger" onclick="confirmDelete(@item.Id, $(this))">Delete</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="SanPham" asp-action="Upsert" class="btn btn-primary"> Thêm mới</a>

</div>

<script>
    function confirmDelete(id, row) {
        if (confirm("Ban co chac chan muon xoa?")) {
            xoa(id, $(row))
        }
    }
    function xoa(idx, row) {
        $.ajax({
            url: `SanPham/Delete`,
            type: 'POST',
            data: { id: idx },
            success: function (data) {
                if (data.success) {
                    // nếu xóa thành công, xóa dòng trong bảng
                    row.closest("tr").remove();
                } else {
                    // nếu có lỗi từ server, hiển thị thông báo lỗi
                    alert(data.message);
                }
            },
            error: function (xhr, status, error) {
                // xử lý lỗi khi ajax gặp sự cố
                alert("xóa thất bại: " + error);
            }
        })
    }
</script>
