﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li>@ViewBag.HoTen</li>
    <li>@ViewBag.MSSV</li>
    <li>@ViewData["Nam"]</li>

</ul>
<footer>
    <p>&copy  @ViewBag.HoTen - @ViewBag.Nam</p>
</footer>